@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Rubik;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 32px 0 32px;
}

.header-nav{
    list-style-type: none;
    display: flex;
    gap: 60px;
    font-size: 16px;
}

.header-nav li a{
    text-decoration: none;
    color:inherit;
}

.nav-active{
    border-bottom: 2px solid #5243C2;
    padding-bottom: 10px;
}

.logo{
    width: 80px;
    height: 80px;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 76px;
}

.call-me{
    color: #FF4D4F;
    background-color: #FFEDED;
    border: none;
    border-radius: 20px;
    padding: 8px 24px 8px 24px;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 60px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-subtitle{
    max-width: 482px;
    font-size: 20px;
    color: #676D77;
}

.hero-left-title{
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 16px;
}


/* Burger Page -*/ 

.burger-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.burger-title{
    width: 389px;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 16px;
}

.burger-properties{
    width: 389px;
}

.property-values{
    display: flex;
    gap: 12px;
    margin-bottom: 86px;
}

.property-icon{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #F5F5FF;
    padding: 12px 16px;
    border-radius: 50px;
}

.burger-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.order {
    background-color: #BE2B20;
    padding: 12px 24px ;
    border-radius:  99px;
    border:none;
    color: white;
    font-size: 36px;
    font-weight: 800;
    
}

.burger-properties-title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 24px;

}

.burger-red {
    color:  #FF4D4F;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 8px;
}

.burger-kechup-subtitle {
    font-size: 24px;
    padding-left: 28px;
    margin-bottom: 28px;
}

.gray {
    color: #949BA6;
    
}

.kechup-image {
    float: right;
}

.burger-card {
    padding:  24px 18px;
    border: 1px solid #F0F7FA;
    height: 180px;
    width: 140px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;

}

.card-image-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.card-image-container img{
    width: 100%;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-title{
    font-size: 14px;
}

.control-button{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    background-color: #F5F5FF;
    font-size: 20px;
    color: #949BA6;
}

.burger-bottom {
    gap: 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}



