@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Rubik;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 32px;
}

.header-destination {
    list-style-type: none;
    display: flex;
    gap: 60px;
    flex-direction: row;
    font-size: 16px;
    
}

.burger {
    width: 80px;
    height: 80px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 32px 0 32px;

}

.label-button {
    height: 40px;
    color: #FF4D4F;
    background-color: #FFEDED;
    border: none;
    border-radius: 20px;
    padding: 8px 24px 8px 24px;

}

.header-logo {
    display: flex;
    align-items: center;
    gap: 76px;

}

.contacts {
    display: flex;
    align-items: center;
    gap: 60px;
    
}

.nav-active{
    border-bottom: 2px solid #5243C2;
    padding-bottom: 10px;
}

.Hero_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero_subtitle {
    max-width: 482px;
    font-size: 20px;
    color: #676D77;
}


.hero-left-title {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 16px;
}

.header-destination li a {
    text-decoration: none;
    color: inherit;
}