@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Rubik;
}

.header-destination {
    list-style-type: none;
    display: flex;
    gap: 60px;
    flex-direction: row;
    font-size: 16px;
}

.burger {
    width: 80px;
    height: 80px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 28px 32px 0 32px;
}

.label-button {
    height: 40px;
    color: #FF4D4F;
    background-color: #FFEDED;
    border: none;
    border-radius: 20px;
    padding: 8px 24px 8px 24px;

}

.header-logo {
    display: flex;
    align-items: center;
    gap: 76px;

}

.contacts {
    display: flex;
    align-items: center;
    gap: 60px;
    
}

